<%= javascript_pack_tag 'question-show' %>

<h3><%= @question.title %></h3>

<p><%= @question.body %></p>

<p>
    Created by: <%= @question.user&.full_name || "Delete" %>
</p>

<p>
  <%# Tags: %><%#= @question.tags.map{ |t| t.name }.join(", ") %>  
    <% unless @question.tags.empty? %>
        <div>
            <% @question.tags.each do |tag| %>
                <%= link_to(tag.name, questions_path(tag: tag.name), class: "badge bagde-pill badge-primary" ) %>
            <% end %>
        </div>
    <% end %>

</p>

<div>
    <small>
        <% if @like.present? %>
            <%= link_to("Unlike", like_path(@like), method: :delete) %>
        <% else %>
            <%= link_to("Like", question_likes_path(@question.id), method: :post) %>
        <% end %>
    </small>
    •
    <small>
        <%= pluralize(@question.likes.count, "like") %>
    </small>
    •
    <small>
        Asked <%= time_ago_in_words(@question.created_at) %> ago
    </small>
    •
    <small>
        Last edited <%= time_ago_in_words(@question.updated_at) %> ago
    </small>
    •
    <small>
        Seen <%= pluralize(@question.view_count, "time") %>
    </small>
</div>

<div>
  <small>
    <% if can?(:crud, @question) && current_user.from_oauth?("github") %>
      <%= link_to("Publish Gist", publish_gist_question_path(@question), method: :post, class: "btn btn-primary btn-sm") %>
    <% end %>

    <% if can?(:edit, @question) %>
    <%= link_to(
        "Edit", 
        edit_question_path(@question.id),
        class: "btn btn-primary btn-sm" 
    ) %>
    <% end %>

    <% if can?(:delete, @question) %>
    <%= link_to(
      "Delete",
      question_path(@question.id),
      method: :delete,
      data: {
        confirm: "Are you sure?"
      },
      class: "btn btn-primary btn-sm"
    ) %>
    <% end %>

  </small>
</div>

<h2>Answers</h2>

<%# 
    To make a form to create an associated model, assign
    an array to the "model" argument where the parent
    model is the first element of the array and the second
    is the model being created.
%>
<%= form_with(model: [@question, @answer], local: true) do |f| %>

    <% if @question.errors.present? %>
        <p class="form-errors">
            <%= @question.errors.full_messages.join(", ") %>
        </p>
    <% end %>

    <div>
        <%= f.text_area(
            :body,
            cols: 50,
            rows: 5,
            placeholder: "What are your thoughts?"
        ) %>
    </div>

    <%= f.submit "Answer" %>
<% end %>

<ul class="answer-list" >
    <% @answers.each do |answer| %>
        <li id="<%= dom_id(answer) %>" >
            <strong> <%= answer.user.full_name %> created: </strong> <br>
            <p>
                <%= answer.body %>
                <% if can?(:delete, answer) %>
                <small>  
                    <%= link_to(
                        "Delete",
                        question_answer_path(@question.id, answer.id),
                        class: "answer-delete-btn",
                        data: { 
                            id: answer.id
                        }
                    ) %>
                </small>
                •
                <% end %>
                <small>Answered <%= time_ago_in_words(answer.created_at) %> ago</small>
            </p>
        </li>
    <% end %>
</ul>