<h3><%= @question.title %></h3>

<p><%= @question.body %></p>

<p>
    Created by: <%= @question.user&.full_name || "Delete" %>
</p>

<div>
    <small>
        Asked <%= time_ago_in_words(@question.created_at) %> ago
    </small>
    •
    <small>
        Last edited <%= time_ago_in_words(@question.updated_at) %> ago
    </small>
    •
    <small>
        Seen <%= pluralize(@question.view_count, "time") %>
    </small>
</div>

<div>
  <small>

    <% if can?(:edit, @question) %>
    <%= link_to(
        "Edit", 
        edit_question_path(@question.id) 
    ) %>
    <% end %>

    <% if can?(:delete, @question) %>
    <%= link_to(
      "Delete",
      question_path(@question.id),
      method: :delete,
      data: {
        confirm: "Are you sure?"
      }
    ) %>
    <% end %>

  </small>
</div>

<h2>Answers</h2>

<%# 
    To make a form to create an associated model, assign
    an array to the "model" argument where the parent
    model is the first element of the array and the second
    is the model being created.
%>
<%= form_with(model: [@question, @answer], local: true) do |f| %>

    <% if @question.errors.present? %>
        <p class="form-errors">
            <%= @question.errors.full_messages.join(", ") %>
        </p>
    <% end %>

    <div>
        <%= f.text_area(
            :body,
            cols: 50,
            rows: 5,
            placeholder: "What are your thoughts?"
        ) %>
    </div>

    <%= f.submit "Answer" %>
<% end %>

<ul class="answer-list" >
    <% @answers.each do |answer| %>
        <li>
            <strong> <%= answer.user.full_name %> created: </strong> <br>
            <p>
                <%= answer.body %>
                <% if can?(:delete, answer) %>
                <small>  
                    <%= link_to(
                        "Delete",
                        question_answer_path(@question.id, answer.id),
                        method: :delete,
                        data: { 
                            confirm: "Are you sure?"
                        }
                    ) %>
                </small>
                •
                <% end %>
                <small>Answered <%= time_ago_in_words(answer.created_at) %> ago</small>
            </p>
        </li>
    <% end %>
</ul>