<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Answers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%# <a href="/">Home</a> %>
        <%#
        
          https://api.rubyonrails.org/classes/ActionView/Helper/UrlHelper.html#method-i-link_to
        %>
        <%= link_to("Home", root_path) %>
        |
        <%= link_to("Questions", questions_path) %>
        <% if user_signed_in? %>
        |
        <%= link_to("New Question", new_question_path) %>
        <% end %>
        |
        <%# <a href="/contact_us">Contact Us</a> %>
        <%= link_to 'Contact Us', contact_us_path %>
        |
        <% if user_signed_in? %>
          Hello <%= current_user.first_name %>,
          <%= link_to(
              "Log out", 
              session_path, 
              method: :delete,
                data:{
                  confirm: "Are you sure you want to log out?"
              }) %>
          <% else %>
          <%= link_to("Sign In", new_session_path) %>
          |
          <%= link_to("Sign Up", new_user_path) %>
        <% end %>
      </nav>
    </header>
    
    <main class="container-fluid">
    
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>" >
        <%= message %>
      </div>
    <% end %>
    
    <%= yield %>
    
    </main>
  </body>
</html>
